<div class="jumbotron">
  <div class="container">
    <div class="col-md-8">
      <h1>Thumbnail previews<br/>made easy.. for you</h1>
    </div>
    <div class="col-md-4">
      <form class="register form-group">
        <input type="text" class="form-control email" name="email" placeholder="Enter your email to sign up"/>
        <span class="help-block"></span>
        <p>By clicking on "Sign up for free" below, you agree to the <a href="#" onclick="link('tos');">Terms of Service</a> and the <a href="#" onclick="link('privacy');" >Privacy Policy</a></p>
        <button type="submit" class="btn btn-primary">Sign up for free</button>
      </form>
      <div class="registered alert alert-success" style="display: none;">
        Thank you for registering, check your email at <span class="email"></span> for your api-key.
      </div>
    </div>
  </div>
</div>
