<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Thumbnail previews<br/>made easy.. for you</h1>
      </div>
      <div class="col-md-4">
        <form class="register form-group">
          <input type="text" class="form-control email" name="email" placeholder="Enter your email to sign up"/>
          <span class="help-block"></span>
          <p>By clicking on "Sign up for free" below, you agree to the <a href="#" onclick="link('tos');">Terms of Service</a> and the <a href="#" onclick="link('privacy');" >Privacy Policy</a></p>
          <button type="submit" class="btn btn-primary">Sign up for free</button>
        </form>
        <div class="registered alert alert-success" style="display: none;">
          Thank you for registering, check your email at <span class="email"></span> for your api-key.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="supported-types">
    <h3>Just a selection of file types we can thumbify...</h1>
    <div class="supported-type pdf" alt="Adobe-PDF-Document" title="Adobe-PDF-Document"></div>
    <div class="supported-type doc" alt="Microsoft-Word" title="Microsoft-Word"></div>
    <div class="supported-type xls" alt="Microsoft-Excel" title="Microsoft-Excel"></div>
    <div class="supported-type ppt" alt="Microsoft-PowerPoint" title="Microsoft-PowerPoint"></div>
    <div class="supported-type psd" alt="Adobe-Photoshop-PSD-Document" title="Adobe-Photoshop-PSD-Document"></div>
    <div class="supported-type gif" alt="Image-GIF" title="Image-GIF"></div>
    <div class="supported-type bmp" alt="Image-BMP" title="Image-BMP"></div>
    <div class="supported-type jpg" alt="Image-JPEG" title="Image-JPEG"></div>
    <div class="supported-type png" alt="Image-PNG" title="Image-PNG"></div>
    <div class="supported-type tif" alt="Image-TIFF" title="Image-TIFF"></div>
    <div class="supported-type wmv" alt="Video-WMV" title="Video-WMV"></div>
    <div class="supported-type mpg" alt="Video-MPEG" title="Video-MPEG"></div>
    <div class="supported-type avi" alt="Video-AVI" title="Video-AVI"></div>
    <div class="supported-type html" alt="Web-HTML" title="Web-HTML"></div>
    <p class="well">We can convert many of the popular formats into thumbnail previews, such as: PDF documents, Word documents, Excel spreadsheets, PowerPoint presentations, many image formats (including Adobe Photoshop PSD) and popular video formats like WMV, MPEG2 and MP4.</p>
  </div>

  <form class="tryme form-inline form-group">
    <label>Try Me!</label>
    <input type="text" class="form-control url" placeholder="Enter a url to a website or an online file"/>
    <button type="submit" class="btn btn-primary">Thumbify Me!</button>
  </form>
  <div class="tryme-well well">
    Don't worry, we don't keep any copies of any files you send. The "Try me" tester will display your thumbnail preview at an image size of no larger than 500x500 and a jpg compression quality of 72. The thumbnail is created using default settings, but you can customise these settings when you post your own files through the thumbifier service. All you need is your own api-key, which you can get by signing up for free above.
  </div>
</div>


<div id="tryme-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Trying the thumbifier</h4>
      </div>
      <div class="modal-body"><h2>Please wait whilst the thumbifier deals with your request!</h2></div>
    </div>
  </div>
</div>
