<div class="jumbotron">
  <div class="container">
    <h1>Pricing and plans</h1>
  </div>
</div>
<div class="container body-text">
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3>Free</h3>
          <div class="price">&pound;0/month</div>
        </div>
        <div class="panel-body">
          <div class="features">
            <p><strong>10</strong> api calls per 60 minutes</p>
            <p><strong>Email</strong> technical support</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3>Pinky</h3>
          <div class="price">&pound;tba/month</div>
        </div>
        <div class="panel-body">
          <div class="features">
            <p><strong>50</strong> api calls per 60 minutes</p>
            <p><strong>Email</strong> technical support</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3>Index</h3>
          <div class="price">&pound;tba/month</div>
        </div>
        <div class="panel-body">
          <div class="features">
            <p><strong>250</strong> api calls per 60 minutes</p>
            <p><strong>Email</strong> technical support</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3>Thumb</h3>
          <div class="price">&pound;tba/month</div>
        </div>
        <div class="panel-body">
          <div class="features">
            <p><strong>1,000</strong> api calls per 60 minutes</p>
            <p><strong>Email</strong> technical support</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2>Bear with us!</h2>
  <p>We're still in beta at the moment, so feel free to sign up for a free account but we can't offer any paid for services at the moment so you're going to be limited to 10 thumbnails per 60 minutes.</p>
  <p>We may also increase/decrease the amount of thumbnails you can create in and we may even increase/decrease the throttle reset time from an hour (maybe to a day, who knows, we'll see how it goes).</p>
  <p>As we're still testing, you may find times when the service is running slowly or not at all, we're sorry for any inconvenience, but we're still ensuring we've squished any bugs before we start charging. Let us know if you notice anything really strange and crazy as we're happy to accept bug reports.</p>
  <p>As soon as we're out of beta, we'll let you know so you can upgrade (if you want).</p>
  <p>We'll then allow you to see the different pricing plans on this page and probably even instantly upgrade/downgrade with a credit card online.</p>
</div>
