body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.form-control {
  height: 50px;
  border-radius: 0px;
  padding: 0px 10px;
  font-size: 18px;
}

.btn {
  height: 50px;
  font-size: 18px;
}


.btn-primary {
  background-color: #15A4FA;
  border-color: #1B93DC;
}

.btn-primary:hover {
  background-color: #0588D7;
  border-color: #0588D7;
}

.navbar {
  margin-bottom: 0px;
  min-height: 80px;
  border: none;
}

.navbar-collapse {
  border: none;
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-brand {
  padding-top: 5px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #2ED0F3;
}

.navbar-nav > li > a {
  font-weight: 300;
  line-height: 50px;
  font-size: 24px;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: none;
}

@media (max-width: 767px) {
  .navbar-nav > li > a {
    font-weight: 400;
    line-height: 30px;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar-header {
    min-height: 72px;
  }

  .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.jumbotron {
  min-height: 310px;
  background: url('../images/jumbotron.png') no-repeat bottom center;
  background-color: #2ED0F3;
  color: #FFFFFF;
  padding: 60px 0px;
}

.jumbotron h1 {
  font-weight: 100;
  margin-top: 0px;
  margin-bottom: 30px;
}

footer {
  padding: 20px 0px 60px;
  background-color: #F0F0F0;
  color: #9A9A9A;
}

footer a:hover {
  color: #323232;
}

footer a {
  color: #888888;
}

footer .copyright {
  text-align: right;
}

@media (max-width: 991px) {
  footer, footer .copyright {
    text-align: center;
  }

  footer .copyright {
    margin-top: 5px;
  }
}

.register {
  margin-top: 10px;
}

.register p {
  font-weight: 300;
  font-size: 14px;
}

.register p a {
  color: #FFFFFF;
}

.register .btn {
  width: 100%;
  height: 50px;
  font-size: 18px;
}

.register.has-error .form-control {
  border: 2px solid #EC7B65;
}

.register.has-error .help-block {
  margin-top: 0px;
  background-color: #EC7B65;
  color: #FFFFFF;
  padding: 5px 10px;
}

.registered {
  font-size: 18px;
  font-weightL 300;
  padding: 30px 20px;
}

.supported-types {
  text-align: center;
}

.supported-types h3 {
  font-weight: 300;
  margin-bottom: 20px;
}

.supported-types .well {
  margin-top: 10px;
  font-size: 16px;
}

.supported-type {
  width: 66px;
  height: 66px;
  background-size: 66px 66px;
  background-position: no-repeat;
  display: inline-block;
}

.supported-type.pdf {
  background-image: url('../images/supported/00-Adobe-PDF-Document.png');
}
.supported-type.doc {
  background-image: url('../images/supported/01-Microsoft-Word.png');
}
.supported-type.xls {
  background-image: url('../images/supported/02-Microsoft-Excel.png');
}
.supported-type.ppt {
  background-image: url('../images/supported/03-Microsoft-PowerPoint.png');
}
.supported-type.psd {
  background-image: url('../images/supported/04-Adobe-Photoshop-PSD-Document.png');
}
.supported-type.gif {
  background-image: url('../images/supported/05-Image-GIF.png');
}
.supported-type.bmp {
  background-image: url('../images/supported/06-Image-BMP.png');
}
.supported-type.jpg {
  background-image: url('../images/supported/07-Image-JPEG.png');
}
.supported-type.png {
  background-image: url('../images/supported/08-Image-PNG.png');
}
.supported-type.tif {
  background-image: url('../images/supported/09-Image-TIFF.png');
}
.supported-type.wmv {
  background-image: url('../images/supported/10-Video-WMV.png');
}
.supported-type.mpg {
  background-image: url('../images/supported/11-Video-MPEG.png');
}
.supported-type.avi {
  background-image: url('../images/supported/12-Video-AVI.png');
}
.supported-type.html {
  background-image: url('../images/supported/13-Web-HTML.png');
}

.tryme {
  background-color: #2ED0F3;
  padding: 10px 10px 0px;;
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
}

.tryme > * {
  margin-bottom: 10px;
}

.tryme label {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 400;
}

.tryme .url {
  margin-left: 10px;
  margin-right: 10px;
  width: 60%;
}

.tryme-well {
  border: 1px solid #2ED0F3;
  border-top: none;
  color: #888888;
}

@media (max-width: 767px) {
  .tryme .url {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}

.modal-content {
  border-radius: 0px;
}

.modal-header {
  border: none;
  background-color: #2ED0F3;
  color: #FFFFFF;
}

.modal-header .close {
  color: #FFFFFF;
  opacity: 0.9;
}

.modal-body {
  text-align: center;
  min-height: 300px;
  overflow: hidden;
}

.modal-body h2 {
  font-weight: 400;
  font-size: 20px;
}

.modal-body img {
  border: 1px solid #AAAAAA;
  margin-bottom: 20px;
}
